/* HomePage.module.css */
.container {
    width: 100vw;
    height: 100vh;
  }
  
  .header {
    background-color: #1d4ed8; /* blue-700 */
    padding: 1rem;
    font-size: 1.875rem; /* text-3xl */
    font-weight: 800; /* font-extrabold */
    color: white;
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    gap: 2rem; /* gap-8 */
    padding: 1rem 2.5rem; /* py-4 px-10 */
  }
  
  .button {
    background-color: #3b82f6; /* blue-500 */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    color: white;
    font-weight: 700; /* font-bold */
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2563eb; /* hover effect for button */
  }
  